<html>
    <head>
        <title>nodejs projects</title>
        <link href="/assets/style.css" rel="stylesheet">

    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>
        <h1>Hello World</h1>
    </body>
</html>